:root {
    --primary-color: #222522;
    --secondary-color: #faff00;
    --light1-color: #02a9ea;
    --light2-color: #fd1f62;
    --main-color: #f5f5f5;
  }
  
  body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    position: fixed;
    bottom:0;
    width: 100%;
    height: 8vh;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
  }
  ul {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
  }
  
  li {
    display: inline-block;
    padding: 10px;
    padding-left:0 ;
  }
  a {
    text-decoration: none;
    color: #fcfcfc;
  }

  section {
    min-height: 100vh;
     overflow: hidden;
  }
  
  .section-container{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
  }
  
  /*Seccion Inicio*/
  section#welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    text-align: center;
    overflow: hidden;
  }

  
  #espacio {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #060b3d, #1d0d43, #2f0d48, #400c4b, #51094d, #501c5e, #4c2b6e, #45397d, #00518f, #006592, #007488, #058179);  overflow: hidden; /* Para ocultar las estrellas que salen del viewport */
  }
  
  .estrella { 
    position: absolute;
    width: 2px;
    height: 2px;
    background: #fff;
  }
  
  @keyframes rastroBrillo {
    0% {
      transform: scaleY(15);
      opacity: 0;
    }
    100% {
      transform: scaleY(1);
      opacity: 1;
    }
  }
  
  .estrellaBrillante {
    background: #fff;
    width: 4px;
    height: 4px;
    box-shadow: 0 0 10px #fff;
    animation: rastroBrillo 0.5s infinite;
    transform-origin: top;
  }
  
  @keyframes entradaGersin {
    0% {
      top: 110%;
    }
    50% {
      top: 10%;
    }
    100% {
      top: 72%;
    }
  }
  
  #espacio img {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 50px;
    transition: left 0.1s ease, top 0.1s ease;
    animation: entradaGersin 2s ease-out none;
    z-index: 3;
  }
  
  #espacio img.propulsor::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 10px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(to left, rgba(64, 169, 255, 0.7), rgba(64, 169, 255, 0));
  
  }
  
  #proyectil {
    border-radius: 50%;
    z-index: 2;
  }
  
  .enunciado{
    position: absolute;
    top: 20%;
  }
  
  h1,
  h2 {
    margin: auto;
    font-size: 1.8em;
    font-weight: 300;
    position: relative;
    z-index: 10;
    animation: subtleColorChange 2s infinite alternate, entrarTexto 1s ease-out 2s forwards;
    opacity:0;
  }

  @keyframes subtleColorChange {
    0% {
      text-shadow: 0 0 5px transparent;
    }
    100% {
      text-shadow: 0 0 15px hsla(54, 67%, 68%, 0.904);
    }
  }
  
  li a {
    text-shadow: 0.3em 0.125em 0.25em hsla(172, 100%, 60%, 0.4);
  }

  @keyframes entrarTexto {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  /*Fin seccion inicio*/







  /*Tamaños*/
  @media (min-width: 786px) {

 
    .navbar-menu {
      padding-left: 0;
      padding-top: 14px;
      padding-bottom: 14px;
    }
  
    nav li {
      padding: 0;
    }
  
    nav li a {
      font-size: 20px;
      padding: 20px;
    }

    #espacio {
      background-image: linear-gradient(to left bottom, #060b3d, #1d0d43, #2f0d48, #400c4b, #51094d, #501c5e, #4c2b6e, #45397d, #00518f, #006592, #007488, #058179);  overflow: hidden; /* Para ocultar las estrellas que salen del viewport */
    }

    @keyframes entradaGersin {
      from {
        left: -100px; 
      }
      to {
        left: 50%;
      }
    }
    
    #espacio img {
      content: url("../img/gersin.png");
      width: 100px;
      transition: left 0.1s ease, top 0.1s ease;
      animation: entradaGersin 2s ease-out none;
      z-index: 3;
      top: 30%;
    }
    

    #espacio img.propulsor::before {
      content: '';
      position: absolute;
      width: 300px;
      height: 10px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: linear-gradient(to left, rgba(64, 169, 255, 0.7), rgba(64, 169, 255, 0));
    }
    
    .enunciado{
      position: absolute;
      top: 40%;
    }

    
  h1,
  h2 {
    font-size: 3.5em;
    font-weight: 300;
  }

    @keyframes rastroBrillo {
      0% {
        transform: scaleX(1);
        opacity: 1;
      }
      100% {
        transform: scaleX(10);
        opacity: 0;
      }
    }
    
    .estrellaBrillante {
      background: #fff;
      width: 4px;
      height: 4px;
      box-shadow: 0 0 10px #fff;
      animation: rastroBrillo 0.5s infinite;
      transform-origin: left;
    }
    
  }