/*Seccion proyectos*/

section#proyectos {
  background-color: var(--primary-color);
  color: var(--main-color);
  z-index: 2;
  position: relative;
  display: flex;
}

.card {
  width: auto;
  height: 200px;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px;
  
}

.card a{
  color: black;
}

.topics {
  margin-top: 10px;
}

.topic-label {
  background-color: #ccc;
  padding: 5px;
  margin-right: 5px;
  border-radius: 3px;
}





/*Fin seccion proyectos*/

section#sobre-mi {
  background-color: var(--light1-color);
  z-index: 2;
  position: relative;
}

section#contacto {
  background-color: var(--secondary-color);
  z-index: 2;
  position: relative;
}

/* Consulta de medios para pantallas de tamaño de tableta y celular */
@media (min-width: 768px) {
  section#proyectos {
    padding-bottom: 100px;
  }

  #github-projects{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
  }
  

  
}
